.button {
  align-items: center;
  background-color: var(--clr-elements);
  border: none;
  border-radius: 0.125rem;
  box-shadow: 0px 4px 8px var(--clr-shadow);
  color: var(--clr-text);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: var(--fs-300);
  width: 6rem;
  text-align: center;
}

.buttonBig {
  font-size: var(--fs-400);
  height: 2rem;
  width: 7rem;
}

@media (min-width: 48em) {
  .button {
    font-size: var(--fs-400);
  }

  .buttonBig {
    font-size: var(--fs-500);
    height: 2.5rem;
    width: 8.5rem;
  }
}
