.countryContainer {
  display: grid;
  gap: 48px;
  margin-top: 4rem;
}

.countryFlag {
  box-shadow: 2px 2px 4px var(--clr-shadow);
  width: 20rem;
}

.countryDetails {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2.5rem;
  font-size: var(--fs-400);
}

.countryBorders {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.borders {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

@media (min-width: 48em) {
  .countryBorders {
    align-items: center;
    flex-direction: row;
  }

  .countryContainer {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: clamp(3rem, 4vw + 3.5rem, 7rem);
  }

  .countryDetails {
    flex-direction: row;
    gap: clamp(3rem, 4vw + 3.5rem, 7rem);
    font-size: var(--fs-500);
  }

  .countryFlag {
    width: 100%;
    max-width: 35rem;
    max-height: 25rem;
  }
}
