.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 2.5rem;
}

.card {
  background-color: var(--clr-elements);
  border-radius: 0.25rem;
  box-shadow: 0px 0.25rem 0.5rem 0 var(--clr-shadow);
  overflow: hidden;
  width: 16.5rem;
}

.cardImage {
  height: 10rem;
  width: 100%;
}

.cardBody {
  padding: 2rem 1.5rem;
  color: var(--clr-text);
}

.cardTitle {
  margin-bottom: 1rem;
}

.cardDetails li:not(:last-child) {
  margin-bottom: 0.25rem;
}

@media (min-width: 48em) {
  .container {
    gap: 4.5rem;
    justify-content: space-between;
  }

  .card {
    width: 16.5rem;
  }
  .cardImage {
    height: 10rem;
  }
}
