.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  column-gap: 2rem;
  row-gap: 4rem;
}

.card {
  background-color: var(--clr-elements);
  border-radius: 0.25rem;
  box-shadow: 0px 0.25rem 0.5rem 0 var(--clr-shadow);
  overflow: hidden;
  width: 16.5rem;
}

.cardImage {
  height: 160px;
  width: 100%;
}

.cardBody {
  padding: 2rem 1.5rem;
  color: var(--clr-text);
}

.cardTitle {
  margin-bottom: 1rem;
}

.cardDetails li:not(:last-child) {
  margin-bottom: 0.25rem;
}
