:root {
  --clr-neutral-900: hsl(200, 15%, 8%);
  --clr-neutral-800: hsl(207, 26%, 17%);
  --clr-neutral-700: hsl(209, 23%, 22%);
  --clr-neutral-500: hsl(0, 0%, 52%);
  --clr-neutral-200: hsl(0, 0%, 98%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --clr-elements: --clr-neutral-100;
  --clr-bg: --clr-neutral-200;
  --clr-text: --clr-neutral-900;
  --clr-input: --clr-neutral-500;

  --ff-sans: 'Nunito Sans', sans-serif;

  --fs-500: 1rem;
  --fs-400: 0.875rem;

  --fw-regular: 300;
  --fw-medium: 600;
  --fw-bold: 800;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-elements: --clr-neutral-700;
    --clr-bg: --clr-neutral-800;
    --clr-text: --clr-neutral-100;
  }

  [data-theme='light'] {
    --clr-elements: --clr-neutral-100;
    --clr-bg: --clr-neutral-200;
    --clr-text: --clr-neutral-900;
  }
}

[data-theme='dark'] {
  --clr-elements: --clr-neutral-700;
  --clr-bg: --clr-neutral-800;
  --clr-text: --clr-neutral-100;
}
